<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aspects.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-mock.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>